@import "tailwindcss";

@theme {
	--color-bgcolor: hsl(var(--background));
	--color-fgcolor: hsl(var(--foreground));
	--color-accent: hsl(var(--accent-color));
}

@layer base { 
		:root {
        --foreground: 120 8% 5%;
        --background: 208 0% 92%;
        --accent-color: 174 72% 56%;

				--card-color: 208 0% 98%;
		}

		.dark {
        --background: 120 8% 5%;
        --foreground: 208 0% 92%;
        --accent-color: 174 72% 56%;

				--card-color: 120 30% 2%;

    }

    *,
    ::before,
    ::after {
        @apply box-border;
        font-family: "Oswald", sans-serif;
    }
    html {
        @apply text-[hsl(var(--foreground))] bg-[hsl(var(--background))];
        @apply scroll-smooth;
    }
    body {
        @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] font-normal text-lg sm:text-2xl antialiased tracking-widest;
    }
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
